# packages in environment at /opt/anaconda3/envs/backend_env:
#
# Name                    Version                   Build  Channel
annotated-types           0.7.0              pyhd8ed1ab_1    conda-forge
anyio                     4.11.0             pyhcf101f3_0    conda-forge
argon2-cffi               25.1.0             pyhd8ed1ab_0    conda-forge
argon2-cffi-bindings      25.1.0          py313hf050af9_1    conda-forge
bcrypt                    5.0.0           py313hcc225dc_0    conda-forge
bzip2                     1.0.8                h6c40b1e_6  
ca-certificates           2025.1.31            h8857fd0_0    conda-forge
certifi                   2025.8.3           pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py313h49682b3_0    conda-forge
click                     8.2.1           py313hecd8cb5_0  
cryptography              46.0.2          py313h0218d6d_0    conda-forge
cyrus-sasl                2.1.28               h610c526_0    conda-forge
dnspython                 2.8.0              pyhcf101f3_0    conda-forge
ecdsa                     0.19.1             pyhd8ed1ab_0    conda-forge
email-validator           2.3.0              pyhd8ed1ab_0    conda-forge
email_validator           2.3.0                hd8ed1ab_0    conda-forge
exceptiongroup            1.3.0              pyhd8ed1ab_0    conda-forge
expat                     2.7.1                h6d0c2b6_0  
fastapi                   0.118.0              h793b878_0    conda-forge
fastapi-cli               0.0.13             pyhcf101f3_0    conda-forge
gmp                       6.3.0                hf036a51_2    conda-forge
gmpy2                     2.2.1           py313h904ca6e_1    conda-forge
h11                       0.16.0             pyhd8ed1ab_0    conda-forge
h2                        4.3.0              pyhcf101f3_0    conda-forge
hpack                     4.1.0              pyhd8ed1ab_0    conda-forge
httpcore                  1.0.9              pyh29332c3_0    conda-forge
httptools                 0.6.4           py313h585f44e_1    conda-forge
httpx                     0.28.1             pyhd8ed1ab_0    conda-forge
hyperframe                6.1.0              pyhd8ed1ab_0    conda-forge
icu                       75.1                 h120a0e1_0    conda-forge
idna                      3.10               pyhd8ed1ab_1    conda-forge
jinja2                    3.1.6              pyhd8ed1ab_0    conda-forge
krb5                      1.21.3               h37d8d59_0    conda-forge
libcxx                    19.1.7               haebbb44_3  
libedit                   3.1.20250104    pl5321ha958ccf_0    conda-forge
libffi                    3.4.4                hecd8cb5_1  
libmpdec                  4.0.0                h46256e1_0  
libntlm                   1.8                  h6e16a3a_0    conda-forge
libpq                     18.0                 h5a4e477_0    conda-forge
libuv                     1.51.0               h58003a5_1    conda-forge
markdown-it-py            4.0.0              pyhd8ed1ab_0    conda-forge
markupsafe                3.0.3           py313h0f4d31d_0    conda-forge
mdurl                     0.1.2              pyhd8ed1ab_1    conda-forge
mpc                       1.3.1                h9d8efa1_1    conda-forge
mpfr                      4.2.1                haed47dc_3    conda-forge
ncurses                   6.5                  h923df54_0  
openldap                  2.6.10               hd8a590d_0    conda-forge
openssl                   3.5.4                h230baf5_0    conda-forge
passlib                   1.7.4              pyhd8ed1ab_2    conda-forge
pip                       25.2               pyhc872135_0  
psycopg2                  2.9.10          py313hb7efee9_3    conda-forge
psycopg2-binary           2.9.10             pyhd8ed1ab_1    conda-forge
pyasn1                    0.6.1              pyhd8ed1ab_2    conda-forge
pycparser                 2.22               pyh29332c3_1    conda-forge
pydantic-core             2.33.2          py313hb0c8e1d_0  
pygments                  2.19.2             pyhd8ed1ab_0    conda-forge
python                    3.13.5          h81a7116_100_cp313  
python-dotenv             1.1.1              pyhe01879c_0    conda-forge
python-multipart          0.0.20             pyhff2d567_0    conda-forge
python_abi                3.13                    0_cp313  
pyyaml                    6.0.3           py313h0f4d31d_0    conda-forge
readline                  8.3                  h49f2429_0  
rich                      14.1.0             pyhe01879c_0    conda-forge
rich-toolkit              0.15.1             pyhcf101f3_0    conda-forge
rsa                       4.9.1              pyhd8ed1ab_0    conda-forge
setuptools                78.1.1          py313hecd8cb5_0  
shellingham               1.5.4              pyhd8ed1ab_1    conda-forge
six                       1.17.0             pyhe01879c_1    conda-forge
sniffio                   1.3.1              pyhd8ed1ab_1    conda-forge
sqlite                    3.50.2               hc8b0dd6_1  
tk                        8.6.15               h3a5a201_0  
typer                     0.19.2             pyhef33e25_0    conda-forge
typer-slim                0.19.2             pyhcf101f3_0    conda-forge
typer-slim-standard       0.19.2               h6e3bb38_0    conda-forge
typing-extensions         4.15.0               h396c80c_0    conda-forge
typing-inspection         0.4.2              pyhd8ed1ab_0    conda-forge
typing_extensions         4.15.0             pyhcf101f3_0    conda-forge
tzdata                    2025b                h04d1e81_0  
uvicorn                   0.35.0          py313hecd8cb5_0  
uvicorn-standard          0.35.0          py313hecd8cb5_0  
uvloop                    0.21.0          py313hb558fbc_1    conda-forge
watchfiles                1.1.0           py313h35a1e28_1    conda-forge
websockets                15.0.1          py313h6865ccc_2    conda-forge
wheel                     0.45.1          py313hecd8cb5_0  
xz                        5.6.4                h46256e1_1  
yaml                      0.2.5                h4132b18_3    conda-forge
zlib                      1.2.13               h4b97444_1  
